
.multi_theory_input {


    h3 {
        font-weight: 600;
        font-size: 1.2em;
        padding: 1em 0em;
    }
    .select select[multiple] {
        height: 23em;
        width: 14em;
    }

    textarea {
        margin-top: 0.2em;
        height: 12.5em;
    }
}

.multi_theory_report {

    pre {
        margin: 1em 0em;
        padding: 1em 1em;
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */       
    }
}

.theory_checkboxs {
    display: flex;
    flex-direction: column;
    gap: 1em;

    span {
        padding-left: 0.5em;
    }
}