.simulation_input_container {

    padding: 0em 0.5em;

    .simulation_input_row {
        display: flex;
        flex-direction: row;

        .simulation_input_info_text {

        }

        .simulation_input_theme_checkbox {
            padding-left: 1em;
            flex-grow: 2;
            section {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 10px;
              
                .checkbox_item {
                    
                }    
            }
        }

        .simulation_textarea {
            flex-grow: 1;
            textarea {
                width: 80%;
                height: 10em;
            }
        }
    }
}

.sim_questionnaire_container {
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    gap:1em;

    .sim_questionnaire_label {
        p {
            font-style: italic;
        }
    }

    .tool_row {
        display: flex;
        justify-content: space-between;

    }

    .submit_row {
        display: inline-flex;
        justify-content: space-between;
        gap: 1em;
    }
}

.sim_report_container {
    padding: 0.5em 0.5em;
    .re-gen-questionnaire-btn {

    }
}