@use '../../share_styles/variable.scss' as v;

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 1.5em 0em;
    background-color: v.$color_warm_white;
    
    h1 {
        color: #031b4e;
        font-size: 2.5em;
        font-weight: 700;
        span {
            color: v.$color_blue; 
        }
    }
}