.short_theory_form {
    h2 {
        padding-top: 1em;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
}

.long_theory_form {
    padding: 1em 0em;
    h3 {
        color: gray;
    }

    .arrow_group {
        display: flex;
        align-items: center;
        justify-content: center; /* to horizontally center them in this flex display */
        gap: 2em;
        padding-bottom: 1.5em;

        img {
            width: 3em;
        }

        &:hover {
            cursor: pointer;
        }
    }

    progress {
        --bulma-progress-value-background-color: #3368c6;
    }
}

.theory_report {
    padding: 1em 0em;
    .report_title {
        display: flex;
        align-items: center;
        justify-content: center; /* to horizontally center them in this flex display */
        flex-direction: column;
        padding: 2em 0;
        gap: 1em;        
        h2 {
            margin: 0 auto;
        }
        p {color: gray;}
    }
    
    pre {
        font-size: 1em;
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */       
    }

    button {
        margin-top: 1em;
    }
}

.question_textarea_slot {
    padding: 1em 0em;
    label {
        display: block;
        font-weight: 600;
    }
}

.question_slider_slot {
    padding: 1em 0em;
    label {
        font-weight: 600;
    }
}

.cognitive_behavior_container {
    padding: 0 0 1em 0;
}